%h1
 my bank
 
 .row
  .col-md-12
   %h2
    number of Accounts: #{number_of_accounts}
   %h2
    number of clients: #{number_of_clients} 
 .row
  .col-md-12
   = link_to bank_accounts_path do
    Bank Accounts   	
   